doctype html
html
  head
    title= `${title} | ${h.siteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/dist/style.css')
  body
    block Header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href="/") Nightlife Coordination
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ml-auto.px-3
            if !user
              li.nav-item.mx-4
                a(href='/login')
                  button.btn.btn-primary Login
              li.nav-item
                a(href='/register')
                  button.btn.btn-primary signup
                  
            else
              li.nav-item.mr-2
                a(href='/going')
                  button.btn.btn-primary(type="text" name="saved" id="saved")  #{user.saves.length} place/s saved
              li.nav-item
                button.btn.btn-light.mx-4 #{user.name} 
              li.nav-item
                a(href='/logout')
                  button.btn.btn-primary Logout 
    .container
      block messages
        if locals.flashes
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .row.d-flex.justify-content-center.align-content-center.mt-4
                    .flash(class=`alert alert-${category}`) #{message}
                      button.btn.btn-outline-dark.ml-5(onClick="this.parentElement.remove()") &times;
    .container
      block content

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
